<li>
  <%= link_to provider_item.name, providers_path(provider_item) %>
  <%= form_for(current_user.organization.agreements.build(provider_id: provider_item.id)) do |f| %>
      <div><%= f.hidden_field :provider_id %></div>
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
  <% end %>
</li>
