<h1> Provider</h1>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <%= link_to "Edit", edit_provider_path(@provider) %> |
  <%= link_to "Destroy", @provider, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", providers_path %>
</p>
