.ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.ui-icon-sign-in-u {
  background-image: url("111-user.png");
}

.red_button {
  .ui-btn-inner {
    background-color: red;
  }

}

.service-call-actions {
  .ui-select .ui-btn select {
    background-color: white;

  }
}

.unstyled {

  .ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
    background-color: #396B9E;
    //background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
  }
}

ul.unstyled, ol.unstyled {
  list-style: none;
}

.simple_form edit_service_call {
  .ui-body-a input {
    background-color: red;
  }

}

.cancel_service_call_btn {
  .ui-body-a input {
    background-color: red;
  }
}

.select optional {
  background-color: white;
}

.miya_checkbox {
  .ui-icon-checkbox-off {
    background-color: #CCCCCC;
  }

  .ui-icon {
    height: 17px;
  }
  .ui-icon-shadow {
    box-shadow: none;
  }
}



.miya_blue_button {
  .ui-btn-up-b {
    height: 32px;
  }
}

.ui-content {
  padding-top: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;

}

.ui-li, .ui-li.ui-field-contain {
  font-size: 14px;
}

input.ui-input-text, textarea.ui-input-text {
  font-size: 14px;
}

.ui-btn-up-a {

  //overflow: hidden;
  //text-overflow: ellipsis;
  white-space: normal;
}

.ui-btn-text {
  white-space: normal;
}

.ui-li-desc {
  white-space: normal;
}

​.ui-page .ui-content .ui-listview .ui-li-desc {
  white-space : normal;
}​


.unstyled {
   ul {
     list-style: none outside none;
     margin-left: 0;
   }
 }



.custom_list  {
  //background-color: red;
  padding-right: 20px;
}

.inline_mobile {
  position: relative;
}

.member_label_mobile {
  //position: absolute;
  //margin-right: -20px;
  right: 10%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  //background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
  background-color: #396B9E;
  border-radius: 1em 1em 1em 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  //padding: 1px 4px 2px;
  text-align: center;
  width: 60px;
  height: 18px;


  badge {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #194B7E;
    font-size: 10px;
  }

}


.ui-btn-inner {
  display: block;
  min-width: 0.1em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 14px;
  padding: 0.6em 10px;

}


.ui-btn-inner-small {
  .ui-btn-inner {
    font-size: 12px;
  }
}


.small_text_button {
  .ui-btn-inner {
    font-size: 9px;
  }
  .ui-btn-up-c {
    height: 32px;
  }
}

.ui-checkbox, .ui-radio {
  width: 60%;
}

.multiple_checkbox {
  .ui-checkbox, .ui-radio {
    width: 100%;
  }
}

.help-inline {
  color: red;
  text-align: center;
  padding-left: none;
}

.shared_errors {
  color: red;

}


.miya_logo_large {

  img {
    border: 0;
    //float: center;
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
  }

  .ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
    //margin-left: 30%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

}

.miya_logo {

  img {
    border: 0;
    display: inline-block;
    margin-top: 2px;
    vertical-align: middle;
    position: absolute;


  }
}

.miya_logo_footer {

  //margin-left: 10%;


  img {
    display: block;
    border: 0;
    display: inline;
    align: center;
    margin-left: 10%;

  }

}

.ui-header .ui-title {
  display: block;
  font-size: 16px;
  outline: 0 none !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  vertical-align: middle;
  padding-left:10%;
  width: 50%;
}


.header_sign_out {

  h1 {
    display: block;
    font-size: 16px;
    outline: 0 none !important;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: middle;

  }
}

.three_buttons_top {

  .ui-grid-b {
    margin-left: -11px;
    margin-right: -11px;

  }

  .ui-block-a {

    width: 40%;
  }
  .ui-block-b {
    width: 30%;
  }
  .ui-block-c {
    width: 30%;
    margin-right: -15px;

  }
}

.service_calls_index {

  .ui-btn-text {
    border: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .ui-li-aside {
    //float: right;
    margin: 0.7em 0;
    text-align: left;
    width: 30%;
    padding-right: 15px;
  }

  .ui-li-aside-blue {
    float: left;
    margin: 0.8em 0;
    background-color: #396B9E;
    border-radius: 1em 1em 1em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    width: 30px;
    margin-left: 5px;
  }

  .ui-li-desc {
    display: block;
    font-size: 14px;
    font-weight: normal;
    //margin: -0.5em 0 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui-li-desc-blue {
    display: block;
    font-size: 12px;
    font-weight: normal;
    //margin: -0.5em 0 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  .member_label_mobile {
    background-color: #396B9E;
    border-radius: 1em 1em 1em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -10px;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 50%;
    width: 30px;
  }

  a.ui-link-inherit {
    padding-right: 10px;
  }


}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
  padding-right: 10px;
}


.customer_in_service_call {

  //width: 80%;
  //.ul-listview {
    margin-left: 1x;
    margin-right: 1px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.customer_contacts {
  .ui-grid-a .ui-block-a {
    width: 30%;
    padding-top: 10px;
  }

  .ui-grid-a .ui-block-b {
    width: 70%;
  }
}


.search_network {
  //background-color: #CCCCCC;
  //.ui-grid-a {
  //  margin: -10px;
  //}
  //
  //.ui-grid-a .ui-block-a {
  //  width: 70%;
  //}
  //
  //.ui-grid-a .ui-block-b {
  //  width: 30%;
  //}
  //
  //input.ui-input-text, textarea.ui-input-text {
  ////    margin: 0.7em 0;
  //      padding-left: 5px;
  //}
  //.ui-input-search input.ui-input-text {
  //  width: 102%;
  //
  //}
  .ui-shadow-inset {
    box-shadow: none;
  }
}
