.ui-body-d,.ui-overlay-d{
  border:1px solid #444444 ;
  color:#ffffff ;text-shadow:0  1px  1px  #080707 ;
  background:#222222 ;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#a1a1a1 ),to( #575757 ));
  background-image:-webkit-linear-gradient( #a1a1a1,#575757 );
  background-image:   -moz-linear-gradient( #a1a1a1,#575757 );
  background-image:    -ms-linear-gradient( #a1a1a1,#575757 );
  background-image:     -o-linear-gradient( #a1a1a1,#575757 );
  background-image:        linear-gradient( #a1a1a1,#575757 );
}

footer {
  .ui-navbar ul {
    margin: -16px 0 0;
  }


}

//.ui-footer {
//
//}.ui-bar-a {
//  background:#a1a1a1 ;
//}

.ui-popup {
  .ui-header .ui-title {
     text-align: left;
     padding-left: 1%;

  }
}


.ui-navbar.ui-mini {
  margin: -9px 0 0;
}

//.ui-body-a,.ui-overlay-a{
//  border:1px solid #444444 ;
//  color:#ffffff ;
//  text-shadow:0  1px  1px  #080707 ;
//  background:#222222 ;
//  background-image:-webkit-gradient(linear,left top,left bottom,from( #a1a1a1 ),to( #575757 ));
//  background-image:-webkit-linear-gradient( #a1a1a1,#575757 );
//  background-image:   -moz-linear-gradient( #a1a1a1,#575757 );
//  background-image:    -ms-linear-gradient( #a1a1a1,#575757 );
//  background-image:     -o-linear-gradient( #a1a1a1,#575757 );
//  background-image:        linear-gradient( #a1a1a1,#575757 );
//}
//
//.ui-btn-up-a{
//  border:1px solid #111111 ;
//  background:#a1a1a1 ;
//  font-weight:bold;color:#ffffff ;
//  text-shadow:0  1px  1px  #111111 ;
//  background-image:-webkit-gradient(linear,left top,left bottom,from( #a1a1a1 ),to( #a1a1a1 ));
//  background-image:-webkit-linear-gradient( #a1a1a1,#a1a1a1 );
//  background-image:   -moz-linear-gradient( #a1a1a1,#a1a1a1 );
//  background-image:    -ms-linear-gradient( #a1a1a1,#a1a1a1 );
//  background-image:     -o-linear-gradient( #a1a1a1,#a1a1a1 );
//  background-image:        linear-gradient( #a1a1a1,#a1a1a1 );
//}






.ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.ui-icon-emails {
  background-image: url('emails.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}


.ui-icon-sign-in-u {
  background-image: url("111-user.png");
}




.red_button {
  .ui-btn-inner {
    background-color: red;
    //min-height: 21px;
  }

  .ui-btn-up-d {
    border: 1px solid red;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
  }

}





.service_call_events {


  .ui-collapsible-content .ui-btn-up-d {
    //background: linear-gradient(white, #F1F1F1) repeat scroll 0 0 #EEEEEE;
    background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;

    color: #333333;
  }

  .ui-submit {
    margin-top: 23px;
    //float: left;
  }

  .ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {
    background-color: #696969;
  }


  .ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
    //background-color: transparent;

    //background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
    //border: 1px solid #044062;
    border: none;
    color: #000000;
    font-weight: bold;
    //text-shadow: 0 1px 0 #194B7E;
    text-transform: uppercase;
    min-height: 11px;


  }

  .red-button {
    span > .ui-btn-text {
      color: #DA4E49;


    }
  }

  .blue-button {
    span > .ui-btn-text {
      color: #3A87AD;

    }
  }

  .green-button {
    span > .ui-btn-text {
      color: #44ad3f;


    }
  }



}

.job_index_divider{
  text-align: center;
  font-size: 14px;
}

.jobs_index_address {
  width: 70%;
}
//


.status_blue, .ui-collapsible-content .ui-btn-up-d {

    color: #3A87AD;
    font-size: 14px;
    padding-right: 10px;
    text-transform: uppercase;
    line-height: 12px;
}

.status_blue {

    text-align: right;

}


.status_green, .ui-collapsible-content .ui-btn-up-d {

    color: #44ad3f;
    font-size: 14px;
    padding-right: 10px;
    text-transform: uppercase;
    line-height: 12px;
}

.status_green {

    text-align: right;

}


.status_grey, .ui-collapsible-content .ui-btn-up-d  {

    color: #696969;
    font-size: 14px;
    padding-right: 10px;
    text-transform: uppercase;
    line-height: 12px;
}

.status_grey {

    text-align: right;

}


.status_red, .ui-collapsible-content .ui-btn-up-d {
    color: #DA4E49;
    font-size: 14px;
    padding-right: 10px;
    text-transform: uppercase;
    line-height: 12px;
}

.status_red {

    text-align: right;

}


.ui-collapsible-content .ui-btn-up-d {
  background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE;
  color: #333333;
  text-transform: capitalize;
}




  //.red-button {
  //  //background: linear-gradient(white, #F1F1F1) repeat scroll 0 0 #EEEEEE;
  //  background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
  //
  //  color: red;
  //}


.job_status_list {
  margin-top: 10px;

  .ui-bar-b {
    background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #3E6790;
    border-radius: 0 2em 2em 0;
    width: 50%;
  }
}

.job_info_list {
  margin-top: 12px;

  //.ui-bar-b {
  //  background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
  //  color: #FFFFFF;
  //  text-shadow: 0 1px 1px #3E6790;
  //  border-radius: 0 2em 2em 0;
  //  width: 50%;
  //}
}

.service-call-actions {
  width: 80%;
}


.unstyled {

  //.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
  //  background-color: none;
  //  //background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
  //}
}

ul.unstyled, ol.unstyled {
  list-style: none;
}

.simple_form edit_service_call {
  .ui-body-a input {
    background-color: red;
  }



}

.cancel_service_call_btn {
  .ui-body-a input {
    background-color: red;
  }
}

.select optional {
  background-color: white;
}

.miya_checkbox {
  .ui-icon-checkbox-off {
    background-color: #CCCCCC;
  }

  .ui-icon {
    height: 17px;
  }
  .ui-icon-shadow {
    box-shadow: none;
  }
}

.miya_blue_button {
  .ui-btn-up-b {
    height: auto;

  }
}



  .miya_blue_button_bom {
    .ui-btn-up-b {
      //height: 32px;
      margin-bottom: 25px;
      //margin-left: 50%;
      margin-top: -1px;
      //width: 50%;
    }
  }


.ui-content {
  padding-top: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;

}

.ui-li, .ui-li.ui-field-contain {
  font-size: 14px;
}

input.ui-input-text, textarea.ui-input-text {
  font-size: 14px;
}

.ui-btn-up-a {

  //overflow: hidden;
  //text-overflow: ellipsis;
  white-space: normal;
}

.ui-btn-text {
  white-space: normal;
}

.ui-li-desc {
  white-space: normal;
}

​.ui-page .ui-content .ui-listview .ui-li-desc {
  white-space : normal;
}​


.unstyled {
   ul {
     list-style: none outside none;
     margin-left: 0;
   }
 }



.custom_list  {
  //background-color: red;
  padding-right: 20px;
}

.inline_mobile {
  position: relative;
}

.new_alert_label {
  right: 11%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.member_label_mobile {
  //position: absolute;
  //margin-right: -20px;
  right: 10%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  //background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
  background-color: #396B9E;
  border-radius: 1em 1em 1em 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  //padding: 1px 4px 2px;
  text-align: center;
  width: 60px;
  height: 18px;
  padding-bottom: 2px;

  badge {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #194B7E;
    font-size: 10px;

  }

}

.alert_label_mobile {

  right: 5%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  background-color: #396B9E;
  border-radius: 1em 1em 1em 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  width: 60px;
  height: 18px;

  badge {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #194B7E;
    font-size: 12px;
  }

}

.show_all_notifications {

   width: 100px;

  .ui-btn {
    cursor: pointer;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 18px;
    margin-top: -10px;
    position: absolute;
    right: 40%;
    text-align: center;
    top: 50%;
    font-size: 12px;

  }

}


.ui-btn-inner {
  display: block;
  min-width: 0.1em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 14px;
  padding: 0.6em 10px;

}


.ui-btn-inner-small {
  .ui-btn-inner {
    font-size: 12px;
  }
}


.small_text_button {
  .ui-btn-inner {
    font-size: 9px;
  }
  .ui-btn-up-c {
    height: 32px;
  }
}

.ui-checkbox, .ui-radio {
  width: 60%;
}

.multiple_checkbox {
  .ui-checkbox, .ui-radio {
    width: 100%;
  }
}

.help-inline {
  color: red;
  text-align: center;
  padding-left: none;
}

.shared_errors {
  color: red;

}


.miya_logo_large {

  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;

  img {
    border: 0;
    //float: center;
    //display: inline;
    //margin-left: 10%;
    //margin-right: 10%;
  }

  .ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
    //margin-left: 30%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

}

.miya_logo {

  img {
    border: 0;
    display: inline-block;
    margin-top: 2px;
    vertical-align: middle;
    position: absolute;


  }
}

.miya_logo_footer {

  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 14px;
  width: 100%;

  img {
    display: block;
    border: 0;
    display: inline;
    align: center;
    margin-left: 10%;

  }

  span {
    font-size: 10px;
    vertical-align: top;
  }

}

.ui-collapsible-heading .ui-btn-up-d {
  background: #A1A1A1;
  color: #ffffff;
  text-shadow: 0 1px 1px #080707;
  border-width: 1px 0 0;
  border-color: #000000;
}


.service_call_show_buttons {
  margin-bottom: -8px;
  margin-top: -2px;
}

//.ui-collapsible {
//  .ui-btn-up-d {
//    background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
//  }
//}

//.ui-collapsible .ui-btn-up-d {
//  background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
//}

//.ui-collapsible .ui-btn-up-d {
//  background: linear-gradient(#DDDDDD, #BBBBBB) repeat scroll 0 0 #BBBBBB;
//  color: #333333;
//  text-shadow: 0 1px 0 #EEEEEE;
//}


.ui-header .ui-title {
  display: block;
  font-size: 16px;
  outline: 0 none !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  vertical-align: middle;
  padding-left:10%;
  width: 50%;
}






.header_sign_out {

  h1 {
    display: block;
    font-size: 16px;
    outline: 0 none !important;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: middle;

  }
}

.three_buttons_top {

  .ui-grid-b {
    margin-left: -11px;
    margin-right: -11px;

  }

  .ui-block-a {

    width: 40%;
  }
  .ui-block-b {
    width: 30%;
  }
  .ui-block-c {
    width: 30%;
    margin-right: -15px;

  }
}


.service_calls_index {

  .service_call_status {
    margin-left: 70%;
    margin-top: -24px;
    font-size: 10px;
    text-align: left;
    color: #3A87AD;
    text-transform: uppercase;
    line-height: 12px;
    margin-right: 4%;


  }

  .ui-btn-text {
    border: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;

  }

  .ui-li-aside {
    //float: right;
    margin: 0.7em 0;
    text-align: left;
    width: 30%;
    padding-right: 15px;
  }

  .ui-li-aside-blue {
    float: left;
    margin: 0.8em 0;
    background-color: #396B9E;
    border-radius: 1em 1em 1em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    width: 30px;
    margin-left: 5px;
  }

  .ui-li-desc {
    display: block;
    font-size: 11px;
    font-weight: normal;
    //margin: -0.5em 0 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-weight: bold;
    text-align: right;
  }

  .ui-li-desc-blue {
    display: block;
    font-size: 12px;
    font-weight: normal;
    //margin: -0.5em 0 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: white;
    padding-bottom: 1px;
  }

  .member_label_mobile {
    background-color: #396B9E;
    border-radius: 1em 1em 1em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -10px;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 50%;
    width: 30px;
  }

  a.ui-link-inherit {
    padding-right: 10px;
  }

  .member_logo {
    //background-color: red;
  }

  .ui-li-desc-affiliate {
    background: none repeat scroll 0 0 transparent;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    overflow: hidden;
    padding-bottom: 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui-li-aside-affiliate {
    border-radius: 1em 1em 1em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
    margin-bottom: -1px;
    margin-top: 5px;
    width: 30px;
  }


  .subcon_label {
    margin-top: -10px;
    position: absolute;
    right: 21%;
    top: 42%;
  }

  .provider_label {
    margin-top: -10px;
    position: absolute;
    right: 11%;
    top: 42%;
  }


}

.affiliate_index_line {
  min-height: 12px;
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
  padding-right: 10px;
}


.customer_in_service_call {

  //width: 80%;
  //.ul-listview {
    margin-left: 1x;
    margin-right: 1px;
    margin-top: 5px;
    margin-bottom: 5px;

  .ui-grid-a .ui-block-a {
    width: 30%;
    padding-top: 5px;
  }

  .ui-grid-a .ui-block-b {
    width: 70%;
    padding-top: 5px;
  }

}

.customer_contacts {
  .ui-grid-a .ui-block-a {
    width: 30%;
    padding-top: 10px;
  }

  .ui-grid-a .ui-block-b {
    width: 70%;
  }
}


.search_job {

  .ui-listview-filter {
    border-width: 0;
    margin: -35px -15px 15px;
    overflow: hidden;
    padding-top: 13px;
  }

  .new_job_button .ui-btn {
    margin-top: -34px;

  }
  .ui-shadow-inset {
    box-shadow: none;
  }
}


.search_network {

  .ui-listview-filter {
    border-width: 0;
    margin: -35px -15px 15px;
    overflow: hidden;
    padding-top: 13px;
  }

  .new_job_button .ui-btn {
    margin-top: -39px;

  }
  //background-color: #CCCCCC;
  //.ui-grid-a {
  //  margin: -10px;
  //}
  //
  //.ui-grid-a .ui-block-a {
  //  width: 70%;
  //}
  //
  //.ui-grid-a .ui-block-b {
  //  width: 30%;
  //}
  //
  //input.ui-input-text, textarea.ui-input-text {
  ////    margin: 0.7em 0;
  //      padding-left: 5px;
  //}
  //.ui-input-search input.ui-input-text {
  //  width: 102%;
  //
  //}
  .ui-shadow-inset {
    box-shadow: none;
  }
}


.table-stroke thead th {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.table-stroke tbody th, .table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}


.icon_grid {


  .ui-grid-b {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -5px;
  }

  .ui-grid-a > *:nth-child(n) {
    margin-left: 2%;
    width: 33%;
  }

  .ui-grid-b > *:nth-child(n) {
    width: 33%;
  }

  .ui-grid-c > *:nth-child(n) {
    width: 33%;
  }


}

.white {
  //background-color: #F3F3F2;
  //background: linear-gradient(#DDDDDD, #BBBBBB) repeat scroll 0 0 #BBBBBB;
  height: 100px;
  text-align: center;
  padding-top: 7px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 80%;
}
.imgTest {
  text-align: center;
  text-shadow: 0 1px 1px #111111;
  font-size: 12px;

}

.icon_frame {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-radius: 5px 5px 5px 5px;
  //border-style: solid;
  border-width: 1px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  float: left;
  margin: 0 18px 18px 0;
  overflow: hidden;
}

.footer_image {

  height: 50px;

  .ui-icon-home {
    top: 1px;
  }
  .ui-btn-inner {
    border-width: 0;
    padding-top: 10px;
    border: none;
    box-shadow: none;

  }

  .ui-btn-icon-top .ui-btn-inner .ui-icon, .ui-btn-icon-bottom .ui-btn-inner .ui-icon {
    left: 50%;
    margin-left: -23px;
    position: absolute;
  }

  .ui-navbar li .ui-btn-icon-top .ui-btn-inner {

    padding-top: -33px;
  }


  .ui-btn-text {
    width: auto;
  }


  //.ui-btn-inner, .ui-btn {
  //  font-size: 12.5px;
  //  text-align: left;
  //
  //}

  .ui-btn-inner .ui-icon-shadow {
    border: none none;
    box-shadow: none;
  }
}

.image_in_footer {

  .ui-mobile a img, .ui-mobile fieldset {
    border-width: 0;
    margin-top: -25px;
  }


}

.ui-navbar li .ui-btn-icon-top .ui-btn-inner {
  font-size: 9px;


  .ui-icon {
    height: 48px;
    width: 48px;

  }
  .ui-icon-shadow {
    box-shadow: none;
    border: none;
  }

}

.ui-icon-home2 {
  background: url("/assets/home.png");
}

.ui-icon-star2 {
  background: url("/assets/jobs.png");
}

.ui-icon-grid2 {
  background: url("/assets/network.png");
}

.ui-icon-gear2 {
  background: url("/assets/menu.png");
}

.ui-header .ui-btn-icon-top .ui-icon, .ui-footer .ui-btn-icon-top .ui-icon, .ui-mini.ui-btn-icon-top .ui-icon, .ui-mini .ui-btn-icon-top .ui-icon {
  top: 2px;
}

.ui-btn-inner .ui-icon-shadow {
  box-shadow: none;
}


.ui-content .ui-listview {
  margin: -20px -15px -15px;
}

footer .ui-navbar ul {
  margin-bottom: 5px;


}

.ui-navbar li .ui-btn-icon-top .ui-btn-inner {
  padding-top: 45px;
  text-align: center;
}

.ui-listview-filter .ui-input-search {
  margin: 5px 5px 9px;
  width: 78%;

}

#flash_notice {
  color: #006837;
  padding-bottom: 6px;
  text-align: center;
  text-shadow: 0 1px 2px gray;
  text-transform: capitalize;
}

#flash_alert {
  color: red;
  padding-bottom: 6px;
  text-align: center;
  text-shadow: 0 1px 2px gray;
  text-transform: capitalize;
}

#flash_error {
  color: red;
  padding-bottom: 6px;
  text-align: center;
  text-shadow: 0 1px 2px gray;
  text-transform: capitalize;
}

.new_job_button {

  .ui-btn {
    cursor: pointer;
    height: 22px;
    margin-top: -36px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    position: absolute;
    right: 0%;
    text-align: center;
    width: 18%;
    font-size: 14px;

  }
}


.affiliates_switch {
  .ui-field-contain:last-child {
    border-bottom-width: 0;
    margin-bottom: -6px;
    margin-left: 116px;
    margin-top: -24px;
  }
}


/* Red button theme for JQuery Mobile
 * - Use data-theme="r" for red versions of the default JQuery Mobile Buttons.
 ******************************************************************************************/

.ui-btn-up-r {
  border: 1px solid #721414;
  background: #AB2525;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
  background-image: -webkit-gradient(linear,left top,left bottom,
  color-stop(0, #C54E4E),
  color-stop(1, #AB2525));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}
.ui-btn-up-r a.ui-link-inherit {
  color: #fff;
}
.ui-btn-hover-r {
  border: 1px solid #6E0000;
  background: #B64B4B;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top,
  #D47272,
  #B64B4B);
  background-image: -webkit-gradient(linear,left top,left bottom,
  color-stop(0, #D47272),
  color-stop(1, #B64B4B));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}
.ui-btn-hover-r a.ui-link-inherit {
  color: #fff;
}
.ui-btn-down-r {
  border: 1px solid #772222;
  background: #C54E4E;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
  background-image: -webkit-gradient(linear,left top,left bottom,
  color-stop(0, #9E3939),
  color-stop(1, #C54E4E));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}
.ui-btn-down-r a.ui-link-inherit {
  color: #fff;
}
.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}




.ui-body-d .ui-link {
  //color: #BCE8F1;
  ////font-weight: bold;
  //text-decoration: none;
  //text-shadow: 0 1px 1px #194B7E;

  background-color: #D9EDF7;
  border-radius: 4px 4px 4px 4px;
  color: #3A87AD;
  letter-spacing: 0.1em;
  padding: 0 4px 1px;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
  text-transform: capitalize;

}


.ui-content {
  min-height: 380px;
}


