<div class="smart_label">
  <ul>
    <li><h1><%= I18n.t('general.messages.I_invited_Aff')%><%= @affiliate.name %></h1></li>
    <li></li>
  </ul>
</div>


<br>

<div class="row-fluid">



  <% affiliate.invites_by_org(current_user.organization).each do |invite| %>
      <%= render invite %>
  <% end %>


</div>