<div class="smart_label">
  <ul>
    <li><h1><%= I18n.t('general.messages.aff_invited_me')%></h1></li>
    <li></li>
  </ul>
</div>


<br>

<div class="row-fluid">

  <p>
  <strong><%= I18n.t('general.general.note') %></strong><%= I18n.t('general.messages.aff_invited_me_p2') %>
  </p>
  <br>

  <% current_user.organization.becomes(Affiliate).invites_by_org(affiliate).each do |invite| %>
      <%= render invite %>
  <% end %>



</div>