<div class="well welcome_jobs">


  <div class="smart_label">
    <ul>
      <li><h1><%= I18n.t('general.general.open_jobs') %></h1></li>
      <li></li>
      <li><%= link_to I18n.t('general.general.see_all'), service_calls_path, :class => 'btn btn-mini btn-primary' %></li>

    </ul>
  </div>


      <%= render 'static_pages/open_job_list', jobs: @service_calls %>

</div>