<div class="">
  <!--table of jobs-->
  <table id="home-open-jobs" class="table display responsive no-wrap table-striped">
    <thead>
    <tr>
      <th><%= Ticket.human_attribute_name(:ref_id) %></th>
      <th><%= Ticket.human_attribute_name(:name) %></th>
      <th><%= Ticket.human_attribute_name(:status) %></th>
      <th><%= Ticket.human_attribute_name(:work_status) %></th>
    </tr>
    </thead>
  </table>

</div>
