   <div class="hero-unit">
    <h1>SubConTraX</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <!--<p><a class="btn btn-primary btn-large">Sign Up &raquo;</a></p>-->

     <a class="btn btn-large btn-primary" href="/users/sign_up">Sign Up &raquo;</a></p>

     <br>

     <p>Already have an account?</p>
     <a class="btn btn-large btn-primary" href="/users/sign_in">Sign in &raquo;</a></p>


     <br>

     <div class="row-fliud">
     <div class= "welcome_logo">

       <div class= "logo">
         <figure class="vertical">
       <figcaption><strong>Powered by:</strong></figcaption>
       <div> <%=  image_tag("logo.png", alt: "MiYa") %></div>

     </figure>
       </div>
     </div>

     </div>

  <br>

   </div>



