<% provide(:title, 'Welcome') %>

<div class="center hero-unit" xmlns="http://www.w3.org/1999/html">
  <h1>Welcome to SubConTraX</h1>

  <h2>
    This is the Welcome page for the
    <a href="http://miyasolutions.com/">MiYa Solutions LLC</a>
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path,class: "btn btn-large btn-primary" %>
</div>

<table class="table-striped">
<thead>
<tr>
  <th>#</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Username</th>
</tr>
</thead>
<tbody>
<tr>
  <td>1</td>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
</tr>
<tr>
  <td>2</td>
  <td>Jacob</td>
  <td>Thornton</td>
  <td>@fat</td>
</tr>
<tr>
  <td>3</td>
  <td>Larry</td>
  <td>the Bird</td>
  <td>@twitter</td>
</tr>
</tbody>
</table>

<div class="row-fluid">
<div class="span8 offset4 ">
  <div class="row-fluid">
    <div class="span8">
    </div>
  </div>
</div>
</div>