<div data-role="collapsible" data-collapsed="true" data-theme="d">


  <h3>
    <%= I18n.t('general.general.collect_payments') %>

  </h3>


  <fieldset class="ui-grid-solo ui-btn-inner-small">
      <%= billing_status_forms(@service_call) %>

  </fieldset>





  <br>

</div>