<div class="collapse overlay" id="job-status-filters">
  <div class="all_jobs_filter">
    <div class="row-fluid collapse_body">


      <div class="">
        <a href="#" data-toggle="collapse" data-target="#job-status-filters" class="close" id="#job-status-filters-close">×</a>
      </div>

      <div id="status_filter" class="input_field filter span3">
        <!--<#%= select_tag :status, options_for_select(status_options), multiple: 'multiple', class: 'chosen-select' %>-->
        <select id="status" name="status" multiple="multiple"></select>

        <%= button_tag 'x', type: 'button', id: 'clear-status', class: 'yadcf-filter-reset-button cancel_filter_btn' %>
      </div>

      <div id="work_status_filter" class="input_field filter span3">
        <select id="work_status" name="work_status" multiple="multiple"></select>
        <%= button_tag 'x', type: 'button', id: 'clear-work-status', class: 'yadcf-filter-reset-button cancel_filter_btn' %>
      </div>

      <div id="billing_status_filter" class="input_field filter span3">
        <select id="billing_status" name="billing_status" multiple="multiple"></select>
        <%= button_tag 'x', type: 'button', id: 'clear-billing-status', class: 'yadcf-filter-reset-button cancel_filter_btn' %>
      </div>

    </div>
  </div>


</div>

