<div class="well well_job_show">
  <div class="row-fluid my_jobs">

    <%= render :partial => 'job_actions_statuses' %>

    <!--Job details-->
    <%= render 'job_details' %>

  </div>
</div>
