<div class="miya_blue_button_bom">
  <%= link_to I18n.t('general.general.add_part'), new_service_call_bom_path(@service_call), "data-role" => "button", "data-theme" => "b", "data-mini" => "true", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-transition" => "slide" if @service_call.can_change_boms?%>
</div>

<div class="parts_labor">
    <ul data-role="listview">
      <% @service_call.boms.each do |bom| %>
          <li class="job_billing">
            <%= link_to bom.material_name, edit_service_call_bom_path(@service_call, bom), "data-transition" => "slide" %>
            <p class= "billing_price_label"><%= Bom.human_attribute_name(:price) %></p>
            <p class="billing_price"><%= humanized_money_with_symbol bom.total_price %></p>

          </li>
      <% end %>
      <br>
    </ul>
</div>