<div class="collapse overlay" id="job-more-filters">
  <div class="collapse_frame">
    <div class="row-fluid collapse_body">


      <div class="">
        <a href="" data-toggle="collapse" data-target="#job-more-filters" class="close" id="#job-more-filters-close">×</a>
      </div>

      <div id="tags_filter" class="filter input_field"></div>

    </div>
  </div>


</div>

