<tr>
  <td><strong><%= I18n.t('general.general.provider_balance') %></strong></td>
  <% if @service_call.provider_balance < 0 %>
      <td class="negative"><%= humanized_money_with_symbol @service_call.provider_balance %></td>
  <% else %>
      <td class="positive"><%= humanized_money_with_symbol @service_call.provider_balance %></td>
  <% end %>
  <td class="show_more_button">
                            <span class="link_blue" id="show_provider_entries">
                               <%= link_to t('general.general.get_entries'), "#prov_billing_entries", class: "", data: { toggle: 'collapse' }, :title => I18n.t('general.messages.click_more').html_safe, :rel => 'tooltip' %>
                              <i class="icon-chevron-down"></i>
                            </span>
  </td>
  <td></td>
</tr>