<% provide(:title, I18n.t('general.general.jobs')) %>

<div class="row-fluid well_height">

     <ul class="nav nav-tabs" id="myJobTab">
      <li class="active"><a href="#activeJobs" data-toggle="tab">Active Jobs</a></li>
      <li><a href="#allJobs" data-toggle="tab">All Jobs</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="activeJobs"><%= render :partial => 'active_jobs' %></div>
      <div class="tab-pane" id="allJobs"><%= render :partial => 'all_jobs' %></div>

    </div>

    <script>
        $(function () {
            $('#myJobTab a:first').tab('show');
        })
    </script>

</div>

