<% provide(:title, I18n.t('general.general.jobs')) %>

<div class="row-fluid well_height">

     <ul class="nav nav-tabs" id="myJobTab">
      <li class="active"><a href="#activeJobs" data-toggle="tab"><%= I18n.t('general.general.active_jobs') %></a></li>
      <li><a href="#allJobs" data-toggle="tab"><%= I18n.t('general.general.all_jobs') %></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="activeJobs"><%= render 'active_jobs' %></div>
      <div class="tab-pane" id="allJobs"><%= render 'all_jobs' %></div>

    </div>

</div>

