<% provide(:title, 'Service Calls') %>

<br>

<% unless @service_calls.empty? %>

    <ul data-role="listview"  data-filter="true" data-divider-theme="d" data-filter-placeholder="Search Contacts">
      <div class= "new_job_button">
        <%= link_to I18n.t('general.general.new'), new_service_call_path, "data-role" => "button", id: 'new-service-call-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
      </div>
      <% @service_calls.each do |sc| %>
          <li class="inline_mobile service_calls_index">
            <p class="ui-li-aside-blue ui-li-desc-blue">
              <badge><%= sc.ref_id %></badge>
            </p>

            <%= link_to sc.customer.try(:name), service_call_path(sc), "data-transition" => "slide" %>


            <p class="ui-li-aside ui-li-desc">
              <%= sc.human_status_name %>
            </p>
            <!--<span class="member_label_mobile">-->
            <!--<badge><#%= sc.ref_id %></badge>-->
            <!--</span>-->

          </li>
      <% end %>

    </ul>

<% end %>

<!--"#{sc.ref_id}" + " | "  +  "#{sc.customer.try(:name)}"-->