<div>
<a href="#" data-role="button" id="list-search-btn"
   class="ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b">Search</a>
<a href="#" data-role="button" id='list-next-btn'
   class="ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b">Next</a>
<a href="#" data-role="button" id='list-prev-btn'
   class="ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b">Prev</a>

<label for="searchable-list-search">Search</label>
<input id="searchable-list-search" type="text"/>
</div>
<div>
    Showing / Total: <span id="showing"></span> / <span id="total-records"></span>
</div>

<div>
    Records: <span id="record-count"></span> (<span id="first-record"></span> -  <span id="last-record"></span>)
</div>

<br>
<div>
<ul id="searchable-list" data-role="listview" data-divider-theme="d">


</ul>
</div>
