<table class="table table-striped" id="customer_entries_in_service_call">
    <thead>
    <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Created at</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Collector</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#each closed_entries}}
        {{>  partials/job/_entry_row}}
    {{/each}}

    </tbody>
</table>
