<div class="row-fluid">
    <table class="table">
        <thead>
        <tr>
            <th>Status</th>
            <th>Balance</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="status_gray" id="service_call_billing_status">
                Pending
            </td>
            <td class="">
                {{balance}}
            </td>
        </tr>
        </tbody>
    </table>
</div>