<td align="center" valign="top">
  <!-- // Begin Template Footer \\ -->
  <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
    <tr height="50%">
      <td valign="top" class="divider"colspan="2"></td>
    </tr>

    <tr>
      <td valign="top" class="footerContent">

        <!-- // Begin Module: Transactional Footer \\ -->
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td valign="top">
              <div>

                <a href="http://subcontrax.com/">SubConTraX</a> &nbsp;by MiYa Solutions LLC<br><br>
                <em>Edit your account preferences if you do not wish to receive these emails in the future.</em>
              </div>
            </td>
          </tr>
        </table>
        <!-- // End Module: Transactional Footer \\ -->

      </td>
    </tr>
  </table>
  <!-- // End Template Footer \\ -->
</td>