<tr><td class="divider" colspan="2" bgcolor="#555555" height="2"></td></tr>

<tr id="footer" colspan="2" class="episode content_message">
  <td>
    <p><a href= "http://subcontrax.com/">SubConTraX</a>&nbsp;by MiYa Solutions LLC</p>
    <p><small color= "#737373">Edit your account preferences if you do not wish to receive these emails in the future.</small></p>
  </td>
</tr>