<h3><%= @notification.subject %></h3>
     <br>
     <p>
        <%= @notification.html_message %>
     </p>

<br>
<br>

    <p>
    <div class="ui-grid-solo">
      <%= link_to I18n.t('general.general.back'), user_root_path, "data-role" => "button", "data-iconpos" => "left", :class => "ui-btn-up-d", "data-icon" => "arrow-l", id: 'back_notification_btn' %>
    </div>
    </p>

    <p>
    <div class="ui-grid-solo">
      <%= link_to I18n.t('general.general.dismiss'), @notification.becomes(Notification), :method => 'delete', :confirm => 'Are you sure?', "data-role" => "button", "class" => "red_button", "data-mini" => "true", "data-icon" => "delete", id: 'dismiss_notification_btn' %>

    </div>
    </p>


