<% provide(:title, "Edit Profile") %>

<div class="well">


  <%= render 'update' %>

  <%= simple_form_for @organization, :html => {:class => 'form-horizontal'}, :remote => true do |f| %>
      <%= render 'organizations/fields', f: f %>
      <div class="form-actions">
        <button class="btn btn-info btn-medium" data-toggle="collapse" data-target="#edit_organization_in_edit_profile" id="edit_org_from_edit_profile">
          cancel
        </button>
        <%= f.submit "Save Changes", class: "btn btn-medium btn-primary", :id => "save_org_from_edit_profile" %>
      </div>
  <% end %>

 </div>
