
<% if object.errors.any? %>

         <div id="error_explanation">

        The form contains <%= pluralize(object.errors.count, "error", :class => "alert alert-error string mandatory") %>.

      <ul>
     <% object.errors.full_messages.each do |msg| %>

            <li><%= msg %></li>
        <% end %>
      </ul>

    </div>


<% end %>

