<ul data-role="listview">
        <% account.accounting_entries.order('id desc').each do |entry| %>
          <li class=" inline_mobile service_calls_index">
            <p class="ui-li-aside-blue ui-li-desc-blue">
              <badge><%= entry.ticket.id %></badge>
            </p>

            <%= link_to entry.type.tableize.humanize, accounting_entry_path(entry) %>
            <p class="customer_open_jobs"><%= humanized_money_with_symbol entry.amount %></p>
          </li>
      <% end %>

</ul>


