<div class="job_billing_info">
    <% unless entries.empty?  %>

      <ul data-role="listview">

          <% entries.each do |entry| %>
              <%= render 'accounting_entries/affiliate_entry', accounting_entry: entry %>
          <% end %>

      </ul>
     <% end %>
</div>