<% provide(:title,  I18n.t('general.general.balance')) %>

<div class="search_balance">

  <ul data-role="listview"  data-filter="true" data-divider-theme="d" data-filter-placeholder="Search Contacts">
    <div class= "new_job_button">
      <%= link_to I18n.t('general.general.new'), "#betaPopup", "data-rel" => "popup", "data-transition" => "pop", "data-role" => "button", id: 'new-service-call-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
    </div>

    <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d"><%= I18n.t('general.general.balance')  %>

    <li class="affiliate_balance_home">

    </li>

  </ul>
</div>