<!--<div class="span6">-->

  <%= link_to(I18n.t('service_call.forms.billing_status.collection.btn_name'), '#collect_job',
              class: "btn btn_collapse btn-primary ",
              data: { toggle: 'collapse' },
              #title:       I18n.t('service_call.forms.billing_status.collection.tooltip'),
              #rel:   'tooltip',
              role: "button",
              id: "dispatch-button") %>
<!--</div>-->