<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Enabled?</th>
    <th>Email?</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% notif_names.each do |notification| %>
      <tr>
        <td class="settings_first_td">
          <div class="btn btn-mini btn-success disabled">
            <i class='icon-ok icon-white'></i>
          </div>
        </td>

         <td class="paginate_disabled_next settings_second_td"><%= best_in_place @settings.notifications_form,
                              "#{notification}_email".to_sym,
                              object_name: :settings,
                              type:        :checkbox,
                              path:        settings_path,
                              collection:  [raw("<div class='btn btn-mini btn-danger'><i class='icon-remove icon-white'></i></div>"), raw("<div class='btn btn-mini btn-success'><i class='icon-ok icon-white'></i></div>")] %></td>
        <td class="settings_third_td"><%= notification.classify.constantize.model_name.human %></td>
        <td><%= I18n.t("notifications.#{notification}.description") %></td>
      </tr>
  <% end %>

  </tbody>
</table>