<% ServiceCallNotification.subclasses.each do |notification| %>
    <div>
      <span><%= best_in_place @setting.notifications_form, notification.name.underscore.to_sym, object_name: :settings, type: :checkbox, path: settings_path, collection: ['Off', 'On'] %></span>
      |<span><%= notification.model_name.human %></span>
      |<span><%= I18n.t("notifications.#{notification.name.underscore}.description") %></span>
    </div>
<% end %>
