<% provide(:title, I18n.t('general.general.new').html_safe + "&nbsp;".html_safe + @customer.class.human_attribute_name(:customer) ) %>


<div class="well">

  <div class="row-fluid">
      <div class="smart_label"  >
      <h1>New Customer</h1>
      </div>
  </div>
  <br>

  <div class="row-fluid">
    <div class="span5 ">

      <%= simple_form_for @customer, :html => {:class => 'form-horizontal'} do |f| %>
          <%= render 'fields', f: f %>
          <div class="form-actions">
            <%= link_to I18n.t('general.general.back'), customers_path, :class => 'btn btn-medium' %>
            <%= f.submit I18n.t('general.general.Save'), class: "btn btn-medium btn-primary" %>
          </div>

      <% end %>

    </div>
  </div>
</div>
