<% provide(:title, I18n.t('general.general.projects').html_safe) %>

<br>


<div class="search_job">
    <%= link_to I18n.t('general.general.new'), new_project_path, "data-role" => "button", id: 'new-project', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>


</div>

<div id="projects-list">

</div>

