<div class="well well_height"  >

  <div class="row-fluid">

    <div class="smart_label">
      <h1><%= I18n.t('general.general.new_project') %></h1>
    </div>

  </div>
  <br>


  <div class="row-fluid">

    <%= render 'form' %>




  </div>
    <!--end of well-->
  </div>
</div>