# this is a sample yml file to store application specific configurations
# you should save it as /config/config.yml for the parameters to take affect
development:
  new_member_event_emails: "mark@miyasolutions.com"
  mailer_user: "mark@miyasolutions.com"
  mailer_password: "the-password"

test:
  new_member_event_emails: "mark@miyasolutions.com"
  mailer_user:
  mail_password:

production:
  new_member_event_emails: ["mark@miyasolutions.com", "ishay@miyasolutions.com"]
  mailer_user:
  mail_password:
