<div class="span6">
<%= simple_form_for job.becomes(ServiceCall), html: { class: 'green-button' } do |f| %>
    <%= hidden_field_tag 'service_call[provider_status_event]', 'provider_confirmed' %>
    <%= f.submit job.class.human_provider_status_event_name(:provider_confirmed).titleize,
                 id:    'confirm_settled_prov_service_call_btn',
                 class: 'btn btn-large btn-success',
                 "data-placement" => "right",
                 title: I18n.t('service_call.forms.provider_status.provider_confirmed.tooltip'),
                 rel:   'tooltip'
    %>
<% end %>

</div>