<table class="agr_diff_table">
  <thead>
  <tr>
    <td>Attribute Name</td>
    <td>Previous Value</td>
    <td>Current Value</td>
  </tr>
  </thead>
  <tbody>

  <% {
             name:          :name,
             description:   :description,
             status:        :human_status_name,
             starts_at:     :starts_at,
             ends_at:       :ends_at,
             payment_terms: :human_payment_terms

     }.each do |attr, method| %>
      <%= render 'agreements/agreement_diff/diff_table_row',
                 attr_name: Agreement.human_attribute_name(attr),
                 v1:        @v1.send(method),
                 v2:        @v2.send(method)
      %>
  <% end %>

  <% #todo replace the below with a proper helper       %>
  <% #todo replace the support for multiple rules       %>
  <tr class="<%= 'changed' if controller.rules_diff.size > 0 %>">
    <td>Rules</td>
    <td>
      <%= render "posting_rules/rule_diff/#{@v1.rules.first.class.name.underscore}_table", rule: controller.rules_diff.first ? controller.rules_diff.first : @v1.rules.first %>
    </td>
    <td>
      <%= render "posting_rules/rule_diff/#{@v2.rules.first.class.name.underscore}_table", rule: @v2.rules.first %>
    </td>
  </tr>

  </tbody>

</table>
