<div class="affiliate_jobs">
  <div class="smart_label">
    <ul>
      <li><h1><%= I18n.t('general.general.pending_jobs') %></h1></li>
      <li>
      </li>
    </ul>
  </div>
  <!--Filter Jobs-->
  <!--<div class="row-fluid filter_affiliate_jobs">-->
  <!--<form>-->
  <!--<ul>-->
  <!--<li class="label_filter"><strong>Filter by Date:</strong></li>-->
  <!--<li>-->
  <!--<div class="input-prepend input-append">-->
  <!--<span class="add-on">From</span>-->
  <!--<input class= "datepicker">-->
  <!--<span class="add-on">To</span>-->
  <!--<input class= "datepicker">-->
  <!--<button type="submit" class="btn btn-mini btn-primary">Filter</button>-->

  <!--</div>-->
  <!--</li>-->
  <!--<li class="button_filter"></li>-->
  <!--</ul>-->
  <!--</form>-->
  <!--</div>-->
  <!--table of jobs-->
  <%= render 'shared/open_jobs', jobs: current_user.organization.open_affiliate_jobs_for(@affiliate) %>
</div>


