<% provide(:title, Affiliate.name.humanize.pluralize) %>

<div class="three_buttons_top">

<fieldset class="ui-grid-b">

      <div class="ui-block-a">
             <%= link_to 'Subcontractors', user_root_path, "data-role" => "button", :class => "ui-btn-up-c", "data-inline" => "true" %>
      </div>

      <div class="ui-block-b">
             <%= link_to 'Providers', new_service_call_path, "data-role" => "button", :class => "ui-btn-up-c", "data-inline" => "true" %>
      </div>

      <div class="ui-block-c">
            <div class="miya_blue_button">
                 <%= link_to 'New', new_affiliate_path, "data-role" => "button", :class => "ui-btn-up-b",  id: 'new-affiliate-button'%>
            </div>
      </div>

</fieldset>
</div>


<br>

<ul data-role="listview"  data-filter="true" data-divider-theme="d" data-filter-placeholder="Search Contacts">
  <% @affiliates.each do |affiliate| %>
      <li class="inline_mobile"><%= link_to affiliate.name, affiliate, "data-transition" => "slide" %>
        <% if affiliate.subcontrax_member==true %>
            <span class="member_label_mobile">
              <badge>Member</badge>
             </span>
        <% end %>
      </li>
  <% end %>
</ul>

