
    <tr>
      <td><%= link_to "#{user.first_name} #{user.last_name}", my_user_path(user) %></td>
      <td><%= user.email %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_my_user_path(user), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    my_user_path(user),
                    :method  => :delete,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                    :class   => 'btn btn-mini btn-danger' %>
      </td>
    </tr>

