<h1> User Attributes</h1>
<% for attribute in user.attributes.keys %>
    <b><%= attribute.humanize %></b> <%= user.attributes[attribute].to_s %><br />
<% end %>
<ul>
  <h3>Roles</h3>
  <% user.roles.each do |role| %>
      <li>
        <%= role.name %>
      </li>
  <% end %>

</ul>
