<div class="modal confirmation-modal" id="confirmation_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>Please Confirm</h3>
    </div>
    <div class="modal-body">
        <p>{{message}}</p>
    </div>
    <div class="modal-footer">
        <ul>
            <li>
                <a data-dismiss="modal" class="btn" id="dismiss-confirmation-modal">Back</a>
            </li>
        </ul>
    </div>
</div>
