@import "bootstrap";


.thumbnail2 {
  border: 3px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 10px 1px rgba(0, 0, 0, 0.075);
  display: block;
  line-height: 1;
  padding: 4px;
}