@import "bootstrap";


.thumbnail2 {
  border: 3px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 10px 1px rgba(0, 0, 0, 0.075);
  display: block;
  line-height: 1;
  padding: 4px;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;

  a {
    color: #555;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;

    }

  }

}
