.ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.ui-icon-sign-in-u {
  background-image: url("111-user.png");
}

.red_button {
  .ui-btn-inner {
    background-color: red;
  }

}

.miya_checkbox {
  .ui-icon-checkbox-off {
    background-color: #CCCCCC;
  }

  .ui-icon {
    height: 17px;
  }
  .ui-icon-shadow {
    box-shadow: none;
  }
}



.miya_blue_button {
  .ui-btn-up-b {
    height: 33px;
  }
}

.ui-content {
  padding-top: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;

}

.ui-li, .ui-li.ui-field-contain {
  font-size: 14px;
}

input.ui-input-text, textarea.ui-input-text {
  font-size: 14px;
  }

.ui-btn-up-a {

  //overflow: hidden;
  //text-overflow: ellipsis;
  white-space: normal;
}

.ui-btn-text {
  white-space: normal;
}

.ui-li-desc {
  white-space: normal;
}

​.ui-page .ui-content .ui-listview .ui-li-desc {
  white-space : normal;
}​


.unstyled {
   ul {
     list-style: none outside none;
     margin-left: 0;
   }
 }



.custom_list  {
  //background-color: red;
  padding-right: 20px;
}

.inline_mobile {
  position: relative;
}

.member_label_mobile {
  //position: absolute;
  //margin-right: -20px;
  right: 10%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  //background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
  background-color: #396B9E;
  border-radius: 1em 1em 1em 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  //padding: 1px 4px 2px;
  text-align: center;
  width: 60px;


  badge {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #194B7E;
    font-size: 10px;
  }

}


.ui-btn-inner {
  display: block;
  min-width: 0.1em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 12px;
  padding: 0.6em 10px;

}





.small_text_button {
  .ui-btn-inner {
     font-size: 9px;
  }
  .ui-btn-up-c {
    height: 32px;
  }
}

.ui-checkbox, .ui-radio {
  width: 50%;
}

.help-inline {
  color: red;
  text-align: center;
  padding-left: 40%;
}


.miya_logo_large {

  img {
    border: 0;
    //float: center;
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
  }

  .ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline, .ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
    //margin-left: 30%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

}

.miya_logo {

  img {
    border: 0;
    display: inline-block;
    margin-top: 2px;
    vertical-align: middle;
    position: absolute;

  }
}

.miya_logo_footer {


  img {
      border: 0;
      display: inline;
      margin-left: 10%;
    }

}

.ui-header .ui-title {
  display: block;
  font-size: 16px;
  outline: 0 none !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  vertical-align: middle;
  padding-left:10%;
  width: 50%;
}


.header_sign_out {

    h1 {
    display: block;
    font-size: 16px;
    outline: 0 none !important;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: middle;

  }
}

.three_buttons_top {

  .ui-block-a {

    width: 40%;
  }
  .ui-block-b {
    width: 30%;
  }
  .ui-block-c {
    width: 30%;
  }
}
