<% provide(:title, @appointment.title) %>

<div class="well well_height">
  <div class="row-fluid">
    <div class="no_margins">

           <div class="smart_label">
              <ul>
                <li><h1><%= I18n.t('general.general.new_appointment_for').html_safe + "&nbsp;".html_safe + "#{@appointment.appointable.class.model_name.human} #{ @appointment.appointable.id }" %></h1></li>
                <li>
                  <%= render 'appointments/add_appointment', appointable: @appointment.appointable %>

                </li>
              </ul>
           </div>
        <br>

        </div>
    </div>

  <div class="row-fluid">
    <div class="no_margins">
        <div class="span4">
          <div class="add_meeting" id="appointment-form">
                 <%= render 'appointments/in_line_form', appointment: @appointment %>

          </div>
          <span id="loading"> Loading.... </span>
        </div>

        <div class="span8 fc" id="calendar">
        </div>

    </div>
  </div>


<!--end of Well-->
</div>