<% material ||= Material.new %>

<div class="add_new_part">

  <%= simple_form_for material, remote: true, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.error_notification %>

      <%= render 'fields', f: f %>

      <div class="form-actions">
        <%= f.button :submit, I18n.t('general.general.add_part'), class: "btn btn-medium btn-primary", id: 'create-material-btn' %>

      </div>

  <% end %>

</div>