<div class="smart_label">
  <ul>
    <li><h1><%= @receipt.id %> <%= link_to @receipt.ticket.name, service_call_url(@receipt.ticket) %></h1></li>
    <li></li>
  </ul>
</div>
<%= @receipt.id %> <%= link_to @receipt.ticket.name, service_call_url(@receipt.ticket) %>

