<div class="row-fluid">
    <div class="span1">
        <label>Name</label>
    </div>
    <div class="span3">
        {{text}}
    </div>
    <div class="span2">
        <label>Customer</label>
    </div>
    <div class="span3">
        {{customer_name}}
    </div>
</div>
