<div class="well well_height">

  <div class="row-fluid">
    <div class="smart_label"  >
      <ul>
      <li><h1><%= t('general.general.new_support_tickets') %></h1></li>
      <li></li>
      </ul>
    </div>
  </div>
  <br>

  <div class="row-fluid">
    <div class="span5 ">

      <%= render 'form' %>

    </div>
  </div>
  <!--end well-->
</div>









