<div class="well-small">
    <h3>Customer Billing</h3>
    <ul>
        {{#each entries}}
            <li>
                Type: {{type}}
            </li>
            <li>
                Status: {{status}}

            </li>

        {{/each}}
    </ul>
</div>