<div class="pdf_footer">
<table class="table ">
  <tbody>
  <tr>
  <td class="left_section">Powered by:<%= wicked_pdf_image_tag 'logo2.png' %></td>
  <td class="center_section">www.subcontrax.com</td>
  <td class="right_section">Work Together - Grow To Get There</td>
  </tr>
  </tbody>

</table>
</div>


