  <div data-role="navbar">
    <% if user_signed_in? %>
     
       <ul>
      <li>
        <%= link_to user_root_path, class: "ui-btn ui-btn-inline ui-btn-up-b", "data-icon" => "home", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true", "data-transition" => "slidedown" do %>
            <span>Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to service_calls_path, class: "ui-btn ui-btn-inline ui-btn-up-b", "type" => "button", "data-icon" => "star", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true", "data-transition" => "flow" do %>
            <span>My Jobs</span>
        <% end %>
      </li>
      <li>
        <%= link_to affiliates_path, class: "ui-btn ui-btn-inline ui-btn-up-b", "data-icon" => "grid", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true" do %>
            <span>Affiliates</span>
        <% end %>

      </li>
      <li>
        <%= link_to profile_path, class: "ui-btn ui-btn-inline ui-btn-up-b", "data-icon" => "gear", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true" do %>
            <span>More...</span>
        <% end %>
      </li>
    </ul>
    <% else %>

        <div class="miya_logo_footer">
          <img src="/assets/logoM.png" id= "centered_image" alt="MiYa"/>
        </div>
    <% end %>
  </div>
    <!--<h5><#%= current_user.try(:email) %></h5>-->



