<div data-role="header">

    <img border="0" src="/assets/logo2.png" alt="MiYa" style="float:left; display:inline"/>

    <% if user_signed_in? %>
        <div class="ui-grid-solo">
        <%= link_to destroy_user_session_path, method: :delete, class: "ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-b", data: { ajax: "false", icon: "gear", corners: "true", shadow: "true", iconshadow: "true", wrapperels: "span", theme: "a" } do %>
            <span class="ui-btn-inner ui-btn-corner-all ui-btn-up-b">
              <span class="ui-btn-text ">Sign Out</span>
              <span class="ui-icon ui-icon-gear ui-icon-shadow">&nbsp;</span>
            </span></a>
        </div>
        <% end %>
    <% else %>
        <div class="ui-grid-solo">
        <%= link_to new_user_session_path, class: "ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a", data: { icon: "gear", corners: "true", shadow: "true", iconshadow: "true", wrapperels: "span", theme: "a" } do %>
            <span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Sign In</span><span class="ui-icon ui-icon-gear ui-icon-shadow">&nbsp;</span></span></a>
              </div>
          <% end %>
    <% end %>
  <br>
   <br>
  <div class="title_header">
  <h1 class="ui-title" role="heading" aria-level="1"><%= yield(:title) || "Untitled" %></h1>
  </div>

</div>


