<div class="sidebar-nav-position">
<div class="well sidebar-nav">

  <ul class="nav nav-list">

    <li class="nav-header">
      <i class="icon-envelope"></i>
      Job Alerts:
    </li>
    <li>
      <a href="#">Transferred
        <span class="label label-important">1</span>
      </a>
    </li>
    <li>
      <a href="#">Incoming
        <span class="label label-warning" id="notification-counter"><%= @notification_count %></span>
      </a>
    </li>

    <li class="nav-header"><i class="icon-folder-open"></i> Job Tickets</li>
    <li><a href="#">New Service Call</a></li>
    <li><a href="#">My Open Tickets</a></li>
    <li><a href="#">Update Ticket Status</a></li>
    <li class="nav-header"><i class="icon-user"></i> New Contact</li>
    <li><%= link_to 'New Provider' %></li>
    <li><a href="#">New Subcontractor</a></li>
    <li><%= link_to 'New Customer', new_customer_path %></li>
  </ul>


</div>

<div class="alert alert-info promotion">

  <ul class="unstyled">
    <li>
      <p>

      <h2>PROMO</h2>
      <small>Invite a user and get...</small>
      </p>    </li>
    <li><a href="#">Click for more info</a></li>
    <li><br></li>
    <!--<div class="form-horizontal">-->
    <li><input type="text" placeholder="Name" class="input-medium" size="50"></li>
    <li><input type="text" placeholder="Email" class="input-medium"></li>
    <li><input type="text" placeholder="Phone" class="input-medium"></li>
    <!--</div>-->
    <li><a class="btn btn-primary" href="">Send Invite</a></li>

  </ul>
</div>

</div>
<!--<ul class="unstyled">-->
<!--<li>-->
<!--<a class="thumbnail" href="#">-->
<!--<img alt="" src="http://placehold.it/250x250">-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->