<div class="well sidebar-nav">

  <ul class="nav nav-list">

    <li class="nav-header">
      <i class="icon-envelope"></i>
      Alerts:
    </li>
    <li>
      <a href="#">Transferred Jobs
        <span class="label label-important">1</span>
      </a>
    </li>
    <li>
      <a href="#">Incoming Jobs
        <span class="label label-warning">5</span>
      </a>
    </li>

    <li class="nav-header"><i class="icon-folder-open"></i> Job Tickets</li>
    <li><a href="#">New Service Call</a></li>
    <li><a href="#">My Open Tickets</a></li>
    <li><a href="#">Update Ticket Status</a></li>
    <li class="nav-header"><i class="icon-user"></i> New Contact</li>
    <li><%= link_to 'New Provider' %></li>
    <li><a href="#">New Subcontractor</a></li>
    <li><%= link_to 'New Customer', new_customer_path %></li>

    <li><a href="#">New Employees</a></li>
    <li class="nav-header"><i class="icon-list-alt"></i> Misc.</li>
    <li><a href="#">New Contract</a></li>
    <li><a href="#">Send SubConTrax Invite</a></li>
    <li><a href="#">Update Billing</a></li>
  </ul>
</div>

<!--<ul class="unstyled">-->
  <!--<li>-->
    <!--<a class="thumbnail" href="#">-->
      <!--<img alt="" src="http://placehold.it/250x250">-->
    <!--</a>-->
  <!--</li>-->
<!--</ul>-->