<footer class="footer">
  <small>
    <a href= <%= root_path %>>MAXIM</a>
    by FOOTER
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#'  %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="www.miyasolutions.com">MAXIM</a></li>
    </ul>
  </nav>
</footer>
