<% unless account.nil? %>
    <p>
      Account: <%= account.id %>

      <br>
      Account owner: <%= account.organization.name unless account.nil? %>
      <br>
      Account for: <%= account.accountable.name unless account.nil? %>
    </p>
<% end %>