<% unless accountable.nil? %>
    <% account = Account.where("organization_id = ? AND accountable_id = ?", current_user.organization.id, accountable.id).first %>
    <p>
      Account: <%= account %>

      <br>
      Account owner: <%= account.organization.name unless account.nil? %>
      <br>
      Account for: <%= account.accountable.name unless account.nil? %>
    </p>
<% end %>